@font-face {
   font-family: 'Varela Round';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/cozummobil//fonts/Varela Round/regular.ttf') format('truetype');
}
