@font-face {
   font-family: 'Slabo 27px';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/cozummobil//fonts/Slabo 27px/regular.ttf') format('truetype');
}
